# Este archivo se completa automáticamente con crear-base-local.sh.
SERVER_PORT=8085
DB_URL=jdbc:mysql://localhost:3306/equinoxgym?useSSL=false&serverTimezone=UTC&allowPublicKeyRetrieval=true
DB_USERNAME=equinox_app
DB_PASSWORD=CAMBIAR
JPA_DDL_AUTO=update
THYMELEAF_CACHE=true
EQUINOX_ADMIN_USERNAME=admin
EQUINOX_ADMIN_PASSWORD=CAMBIAR
